<div class="grow-wrap">
    <textarea placeholder=@Placeholder @onchange="OnChanged" class="w-100"
        onInput="this.parentNode.dataset.replicatedValue = this.value"/>
</div>

@code {
    [Parameter]
    public string Placeholder { get; set; } = string.Empty;

    [Parameter]
    public required EventCallback<string> OnValueChanged { get; set; }

    Task OnChanged(ChangeEventArgs args)
    {
        return OnValueChanged.InvokeAsync(args.Value as string ?? string.Empty);
    }
}
